@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Calistoga&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: intier, sans-serif;
}

@layer base {
   .nav-items {
      @apply px-4 py-1.5 rounded-full text-white/70  md:text-sm font-semibold transition-all duration-300;
   }

   .nav-items:hover {
      @apply bg-white/20 text-white shadow-md;
   }

   .hero-ring{
      @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
   }
}

@layer utilities{
   
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.swiper-pagination-bullet {
   @apply w-2.5 h-2.5 bg-gray-600 opacity-100 transition-all duration-300;
 }
 
 .swiper-pagination-bullet-active {
   @apply w-8 bg-gradient-to-r from-blue-400 to-purple-500 rounded-full;
 }